.letter {
    display: inline-flex; /* Use flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 50px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    line-height: 50px; /* Center the text vertically */
    text-align: center; /* Center the text horizontally */
    font-size: 2rem;
    padding: 5px;
    border: 1px solid rgb(0,123,255); /* Blue rounded borders */
    border-radius: 5px; /* Rounded corners */
    margin-right: 5px;
    cursor: pointer;
}
.container-fluid{
padding: 0;
}


#h1-center {
    font-size: 4rem; /* Adjust the font size as needed */
    color: #333; /* Text color */
    padding-bottom: 50px; /* Add space below the h1 */
}

/* Style for h2 element */
#h3-center {
    font-size: 1.8rem; /* Adjust the font size as needed */
    color: #555; /* Text color */
    padding-top: 40px; /* Add space above the h2 */
    padding-bottom: 15px; /* Add space below the h2 */
}

#link{
    padding-top: 20px;
    padding-bottom: 20px;
}

#h1-answer{
    padding-top: 60px;
    padding-bottom: 20px;
}